m:root {
  --theme-color: #285685;
  --font-color: #d4cbba;
  --shade1: rgba(242, 38, 19, 0.5);
  --shade2: rgba(0, 255, 255, 0.5);
}

body {
  background: rgb(255,59,0);
  background: linear-gradient(126deg, rgba(255,59,0,1) 1%, rgba(185,33,85,1) 26%, rgba(2,0,36,1) 100%);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  display: flex;
  justify-content: center;
}


.textCont {
  font-size: 150%;

  margin-top: 10%;
  margin-left: 5px;
  margin-right: 5px;
  width: 60%;
  height: 80%;
}

div.textCont::after {
  content: "|";
  animation: blinky 1s linear infinite;
}



.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;
}

.heart.is-active {
  transition-duration: 1s;
  background-position: -2800px 0;
}

.stage {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stage.active {
  display: block;
}

@keyframes blinky {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }
}

footer {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 100;
}

footer > a {
  background-color: transparent;
  color: var(--font-color);
  font-weight: bold;
  font-family: "Megrim";
  font-size: 110%;
  text-decoration: none;
  padding: 5px 20px;

  border: 3px solid var(--font-color);
  transition: color 0.5s linear, box-shadow 0.5s ease-in;
}

.song {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  right: 5%;
  position: absolute;
}
.pause {
  cursor: pointer;
}
@media (max-width: 768px) {
  .stage {
    position: static;
    transform: none;
    top: 75%;
  }

  .textCont {
    width: 90%;
    margin: 10% 5%;
  }
}